# variable

In [1]:
A = "aditya"
A

'aditya'

In [2]:
A = "aditya"
print(A)

aditya

In [3]:
A = "aditya"
A+A

'adityaaditya'

In [4]:
A = "aditya"
B = "samita"
A+B

'adityasamita'

In [5]:
_a1 = "anaconda"
print(_a1)

anaconda

In [6]:
b = 100
b

100

In [7]:
id(b)

140713082462088

In [8]:
print(b)

100

In [9]:
a = 100
a

100

In [10]:
id(a)

140713082462088

In [11]:
print(a)

100

In [12]:
print(a,b)

100 100

In [2]:
F = input("enter a company name - ")
g = input("enter the number of emplyees _")
print("the name of the company is," ,F,g)

enter a company name - ocac
enter the number of emplyees _50000
the name of the company is, ocac 50000

In [3]:
a="mastee class"
print("welcome to python {a} !") #formating string literals

welcome to python {a} !

In [4]:
f = input("Enter a company name - ")
g = input("Enter the number of employees - ")

Enter a company name - tcs
Enter the number of employees - 10000

In [ ]:
print("Hello {name} {greeting} {name} " .format(name="aditya" greeting= "good morning"))

In [5]:
B = "11"
B
type(B)

str

In [7]:
B

11

In [6]:
B ="11"
print(type(B))
A = 10
A
B = 11
B

<class 'str'>

11

In [8]:
a=3
print(type(a))

b=3,0
print(type(b))

<class 'int'>
<class 'tuple'>

In [9]:
A = "samita"
B = "19"
A+B

'samita19'

In [11]:
A = "samita"
B = "19"
C = A+B
print(c)
len(c)

NameError: name 'c' is not defined

In [14]:
Z ="BBSRTV"

In [15]:
Z[:]

'BBSRTV'

In [16]:
Z[::-1]

'VTRSBB'

In [17]:
Z[0:7:-1]

''

In [20]:
Z[1::]

'BSRTV'

In [21]:
Z[-6:-5]

'B'

In [23]:
Z[-1-1]

'T'

NameError: name 'z' is not defined

In [26]:
print(2)

2

In [27]:
print("sama")

sama

In [28]:
print("hhttse    15@#$")

hhttse    15@#$

In [29]:
B =30
print(B)

30

In [31]:
sivha = 40
print(sivha)

40

In [33]:
sivha = 60
devi = 80
soha = 40
print (sivha)
print (devi)
print (soha)
sivha + soha

60
80
40

100

In [34]:
a=60
b=70
c=40
d=50

print (a,b,c,d)
a+c 
b+d

60 70 40 50

120

In [35]:
# print function in python 3
a=20
b=30
c=10
print (b,c)
a+b

30 10

50

In [36]:
print(a)
c= a+b

20

In [37]:
first_name='devi'
last_name="semi"

In [38]:
print("name " , last_name,first_name)

name  semi devi

# set

In [1]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
set3= set1|set2

In [3]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [6]:
set4= set1.union(set3)

In [4]:
set1

{1, 2, 3, 4, 5}

In [5]:
set2

{3, 4, 5, 6, 7}

In [7]:
print(set2-set1)

{6, 7}

In [9]:
set1.difference_update(set2)
set1

{1, 2}

In [10]:
set2.difference_update(set1)
set2

{3, 4, 5, 6, 7}

In [11]:
print(set1^set2)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}

In [14]:
set2.symmetric_difference_update(set1)
set2

{1, 2, 3, 4, 5, 6, 7}

In [15]:
c={3,4,5}
d= {3,4,5,6}

In [16]:
c.issubset(d)

True

In [17]:
dic={}
type(dic)

dict

In [18]:
print(dic)

{}

In [21]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [25]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [27]:
print(list(range(8,2,-1)))

[8, 7, 6, 5, 4, 3]

In [28]:
print(list(range(100,0,-1)))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# libary

In [1]:
import math

In [2]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [3]:
math.cosh(6)

201.7156361224559

In [4]:
math.pi

3.141592653589793

In [8]:
import math as m

In [9]:
m.tan(7)

0.8714479827243188

In [10]:
math.cos(60)

-0.9524129804151563

In [11]:
import random

In [14]:
pwd

'C:\\Users\\ADITYA'

In [15]:
cd'C:\\Users\\ADITYA'

[WinError 123] The filename, directory name, or volume label syntax is incorrect: "'C:\\\\Users\\\\ADITYA'"
C:\Users\ADITYA

In [16]:
pi.add(6,5)

NameError: name 'pi' is not defined

In [17]:
pi.x

NameError: name 'pi' is not defined

In [1]:
pi.product(pi.x,5)

NameError: name 'pi' is not defined

# bitewise operator

In [1]:
bin(100)

'0b1100100'

In [2]:
0b100101

37

In [3]:
a=3
b=5
print(a|b)

7

In [4]:
7|9

15

In [5]:
not True

False

In [6]:
not False

True

In [7]:
a=10
a

10

In [9]:
a=a+1
print(a)

12

In [13]:
a=5
b=5
print(a is b)

True

In [14]:
s1='adi'
s2='tya'
print(s1 is s2)

False

In [15]:
a='ven'
'en' in a

True

In [17]:
v="BHUBANESWAR"
"WAR" in v

True

In [18]:
"WR" in v

False

In [19]:
"W","R" in v

('W', True)